[submodule "_checkouts/inet_tcp_proxy"]
	path = _checkouts/inet_tcp_proxy
	url = git@github.com:Heimdall-message-interception-framework/inet_tcp_proxy.git
	branch = master
[submodule "_checkouts/heimdall"]
	path = _checkouts/heimdall
	url = git@github.com:Heimdall-message-interception-framework/heimdall.git
	branch = master
